<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- GOOGLE FONTS --}}
<link href='//fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:100,200' rel='stylesheet' type='text/css'>

    {{!-- GOOGLE FONTS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>


    <div class="container">

        
        <div class="city"> 
            <div class="title">
					<h2 id="messageOne"></h2>
					<h3 id="messageTwo"></h3>
                    
				</div>
            <form >
               
                <input type="search" placeholder="Search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <h2 id="message-error"></h3>
            <div class="temperature">
					<p id="cityTemp"><span></span></p>
			</div>
        </div>
        
    
        <div class="forecast">
            <div class="forecast-icon">
                <img id="icon" src="http://openweathermap.org/img/wn/03n@4x.png" alt="temp_img">
            </div>
            <div class="today-weather">
				<h3>description</h3>
				<ul>
					<li id="l1">Now<span> </span></li>
					<li id="l2">+3H<span> </span></li>
					<li id="l3">+6H<span> </span></li>
					<li id="l4">+9H<span> </span></li>
					<li id="l5">+12H<span> </span></li>
				</ul>
			</div>
        </div>
    </div>
    
    

    

    {{>footer}}
    
<script src="/js/app.js"></script> 
</body>

</html>